.card-header-title {
    align-items: center;
    color: #363636;
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    padding: 0.75rem 1rem;
  }

  .title {
    color: #363636;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3;
    /* margin:3rem; */
  }

  .title.is-1 {
    font-size: 3rem;
  }


  .textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    padding: calc(0.75em - 1px);
    /* resize: vertical; */
  }