
  .title {
    color: #363636;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3;
    margin:3rem;
    text-align: center;
  }

  .title.is-1 {
      color:white;
      background-color: #363636;
      font-size: 3rem;
      padding:3rem;

  }


